/* styles.css - Challenge #1 (Skeleton) */
body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f8f9ff;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
    margin: auto;
    max-width: 800px;
}

.tagline {
    text-align: center;
    font-style: italic;
    color: rgb(123, 123, 123);
}

h1 {
    text-align: center;
    color: #e91e63;
}

h2 {
    line-height: 20px;
}

p {
    margin-bottom: 20px;
}

.mascot-placeholder {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

#mascot-image {
    display: block;
    margin: auto;
    width: 200px;
}

.buy-tickets {
    background-color: #39c819;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    border: 3px solid #aaf1ff;
    padding: 10px 20px;
    transition: background 100ms ease, transform 100ms ease;

}

.buy-tickets:hover {
    transform: translateY(-1px);
    background-color: #008d17;
    cursor: pointer;
}

.make-donation {
    background-color: #2b18c8;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    border: 3px solid #fa84ea;
    padding: 10px 20px;
}

.make-donation:hover {
    transform: translateY(-1px);
    background-color: #0312ba;
    cursor: pointer;
}

.actions {
    text-align: center;
    margin: 20px 0 20px 0;
}

.site-footer {
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    color: #555555;
    font-size: 0.8rem;
    padding-top: 15px;
}