/* styles.css - Challenge #2 (Skeleton: Rides Gallery) */


/* 0) Base page */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #f8f9ff;
    margin: 0;
    padding: 0;
}


/* 1) Container */
.container {
    padding: 0 50px;
    margin: auto;
    max-width: 800px;
}

/* 2) Section heading */
.attractions h2 {
    text-align: center;
}


/* 3) Cards wrapper (center all cards horizontally) */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 30px;
}


/* 4) Card (size, spacing, border, rounded corners) */
.card {
    max-width: 240px;
    height: 300px;
    border: 3px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 5) Card text (h3 title, paragraph blurb) */
.card h3 {
    margin: 1rem 1rem 0 1rem;
}

.card .blurb {
    color: #555555;
    margin: 1rem 1rem 0 1rem;
    line-height: 1.5rem;
}

/* 6) Card image (fit within card, centered) */
.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    margin: auto;
    width: 100%;
    height: 150px;
}

/* 7) Hover state: change border to green, then make it wigglew */
.card:hover {
    border-color: #ff0000;
    animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/* 8) Footer */
.site-footer {
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    color: #555555;
    font-size: 0.8rem;
    padding-top: 15px;
}